
:global(.light-mode) {
    .color {
        // text colors
        &__title {
            transition: color ease-in-out 300ms;
            color: $base-500;
        }

        &__descr {
            transition: color ease-in-out 300ms;
            color: $base-300;
        }

        &__important {
            transition: color ease-in-out 300ms;
            color: $main-400;
        }

        &__price {
            transition: color ease-in-out 300ms;
            color: $secondary-400;
        }

        // bg colors
        &__bg_primary {
            transition: background-color ease-in-out 300ms;
            background-color: $base-0;
        }

        &__bg_secondary {
            transition: background-color ease-in-out 300ms;
            background-color: $base-50;
        }

        &__bg_trans {
            background: rgba(252, 252, 252, 0.8);
        }

        @supports not (-ms-high-contrast: none) {
            &_logo {
                circle[cx="17"] {
                    transition: all ease-in-out 300ms;
                    fill: $base-500;
                }
            }

            &__iconSVG {
                path {
                    transition: fill ease-in-out 300ms;
                    fill: $base-600;
                }
            }
        }

        &__input_placeholder {
            &::placeholder {
                transition: color ease-in-out 300ms;
                color: $base-300;
            }
        }

        &__shadow {
            background: linear-gradient(180deg, rgba(1, 35, 69, 0) 0%, $base-0 100%);
            transition: background ease-in-out 300ms;
        }
    }
}
