@import 'variables';
@import 'mixins';

:global(#__nuxt) {
  .tab_title {
    font-size: $fontSizeBigOne;
    font-weight: $fontWeightBold;
    line-height: $line-h-large;
    margin-bottom: 32px;
  }
  .color_logo {
    rect {
      fill: transparent;
    }
  }
  @include brp(xm) {
    .tab_title {
      font-size: $fontSizeBigger;
      margin-bottom: 20px;
    }
  }
}
