@import "variables";
* {
  margin: 0;
  padding: 0;
  border: 0;
}
h1, p {
  margin: 0;
}

body {
  font-family: 'Codec Pro';
}

a {
  text-decoration: none;
}

svg {
  cursor: pointer;
  path {
    transition: fill ease-in-out 300ms;
  }

  &:hover {
    path {
      transition: fill ease-in-out 300ms;
      fill: $main-400;
    }
  }
}
