$breakpoints: (
  xs: 460px,
  xm: 580px,
  sm: 768px,
  md: 960px,
  ml: 1140px,
  lg: 1280px,
  xl: 1340px
);

@mixin content-wrap {
  width: 1312px;
  margin: 0 auto;

  @include brp(xl) {
    width: 100%;
  }
}

@mixin padding {
  padding-left: 16px;
  padding-right: 16px;
}

@mixin brp($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}
