@mixin content-wrap {
  width: 1312px;
  margin: 0 auto;

  @include brp(xl) {
    width: 100%;
  }
}

@mixin padding {
  padding-left: 16px;
  padding-right: 16px;
}

@mixin brp($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (max-width: $breakpoint-value) {
      @content;
    }
  }

  @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin font($alias, $name, $weight) {
  @font-face {
    font-family: $alias;
    src: url('~static/fonts/' + $name + '.woff2') format('woff2');
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}
