$breakpoints: (
  xs: 460px,
  xm: 580px,
  sm: 768px,
  md: 960px,
  ml: 1140px,
  lg: 1280px,
  xl: 1340px
);

//fonts
$fontSizeSmall: 12px;
$fontSizeSmaller: 14px;
$fontSizeBase: 16px;
$fontSizeMedium: 18px;
$fontSizeBigger: 20px;
$fontSizeBig: 22px;
$fontSizeBigOne: 24px;
$fontSizeLarge: 40px;

$fontWeightLight: 100;
$fontWeightMedium: 300;
$fontWeightAccent: 500;
$fontWeightSemiBold: 700;
$fontWeightBold: 900;

//colors
$main-100: #d1d5ff;
$main-200: #a4acff;
$main-300: #7682ff;
$main-400: #4959ff;
$main-500: #1b2fff;
$main-600: #1626cc;
$main-700: #101c99;
$main-800: #0b1366;
$main-900: #050933;

$base-0: #fcfcfc;
$base-50: #f3f4f7;
$base-100: #ccd3da;
$base-200: #99a7b5;
$base-300: #677b8f;
$base-400: #344f6a;
$base-500: #012345;
$base-600: #011c37;
$base-700: #011529;
$base-800: #000e1c;
$base-900: #00070e;

$secondary-100: #fdd2ec;
$secondary-200: #fca5d9;
$secondary-300: #fa77c6;
$secondary-400: #f84ab3;
$secondary-500: #f71d9f;
$secondary-600: #c51780;
$secondary-700: #941160;
$secondary-800: #630c40;
$secondary-900: #310620;

$success: #4caf50;

$border-r-large: 48px;
$border-r-huge: 32px;
$border-r-medium: 24px;
$border-r-small: 16px;
$border-r-tiny: 12px;
$border-r-mini: 8px;

$line-h-mega: 48px;
$line-h-grand: 24px;
$line-h-large: 20px;
$line-h-medium: 18px;

$anim: ease-in-out 200ms;
$anim-medium: ease-in-out 400ms;

$z-index-shadow: 1;
$z-index-content: 2;
$z-index-img-wrap: 1;
$z-index-img: 2;
$z-index-modal-mask: 9999;
